<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Smart Inventory Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <div class="text-center">

        <h1>Smart Inventory Management System</h1>

        <p class="lead">
            Welcome to your first Flask project.
        </p>

        <a href="#" class="btn btn-primary">
            Get Started
        </a>

    </div>

</div>

</body>
</html>